@model WebMVC.Models.ViewModels.SubCategoryAndCategoryViewModel
@using WebMVC.Extensions


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Create Sub Category</h2>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-8 border-right">
        <form asp-action="Create">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="SubCategory.CategoryId" class="control-label"></label>
                    </div>
                    <div class="col-md-5">
                        <select id="ddlCategorylist" asp-for="SubCategory.CategoryId" asp-items="Model.CategoryList.ToSelectListItem(Model.SubCategory.CategoryId)" class="form-control">
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="SubCategory.Name" class="control-label"></label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="SubCategory.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="SubCategory.Name" class="text-danger"></span>
                </div>


                <div class="form-group row">
                    <div class="col-md-5 offset-md-3">
                        <partial name="_CreateAndBackToListButton" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 offset-1">

        @if (Model.SubCategoryList.Count() > 0)
        {
            <p> Existing Subcategories:</p>

            <div id="SubcategoryList">
                <ul class="list-group"> </ul>
            </div>
        }

    </div>

</div>


@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        //Script to pupulate the subCategory list
        let categoryList = document.getElementById("ddlCategorylist");
        //Event: First event 
        document.addEventListener("DOMContentLoaded", updateSubCategoryList);
        categoryList.addEventListener("change", updateSubCategoryList);

        //FUnction moved to js folder

        //function updateSubCategoryList() {
        //    let categorySelected = document.getElementById("ddlCategorylist").value;
        //    let list = document.getElementById("SubcategoryList");

            
        //    fetch("../SubCategory/getSubCategory/" + categorySelected )
        //        .then(response => {
        //            console.log(response);
        //            return response.text();
        //        })
        //        .then(data => {
        //            let results = JSON.parse(data);
        //            list.innerHTML = " "

        //            for (i in results) {

        //                list.innerHTML += `<p class="text-muted">  ${results[i].text} </p>`
        //            }

        //        });
        //};
 
    </script>

}
